<!doctype html>
<html<% if (includeModernizr) { %> class="no-js"<% } %> lang="">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <% if (includeModernizr) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild --><% } %>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

      <div class="container">
      <h1>Yo Ninthlink!</h1>
      
      <p>
        This generator is a fork of <a href="https://github.com/yeoman/generator-webapp">generator-webapp</a>. Here's a list of some of the more significant additions and modificaitons:
      </p>
      
      <ul>
        <li><a href="https://www.npmjs.com/package/gulp-uncss">UnCSS</a> (with custom configuration to eliminate conflicts with Bootstrap)</li>
        <li>the ability to add either Google Tag Manager or Google Analytics</li>
        <li><a href="https://www.npmjs.com/package/gulp-bootlint">Bootstrap linting</a></li>
        <li>the addition of a pre-configured .htaccess file; this enables gzip compression and caching</li>
        <li>Sass partials to encourage modularity and maintainability</li>
      </ul>
      
      <p>
        As you can see, this template does not include any significant boilerplate markup, and the .scss files are completely empty. My goal is to provide only the bare necessities. Typical project requirements and conventions vary wildly from organization to organization, so we shouldn't have to worry about deleting 800 lines of unused code every time we start a new project.
      </p>
      
      <p>
        If you have any suggestions for improvement or if you encounter a bug, please create a pull request or file an issue on <a href="https://github.com/jeffreysbrother/generator-ninthlink">GitHub</a>.
      </p>
      
    </div>
    

    <% if (includeTagManager) { %>
      <!-- Google Tag Manager: change GTM-XXXXXX to be your site's ID. -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-XXXXXX"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-XXXXXX');</script>
      <!-- End Google Tag Manager -->
    <% } else { %>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <!-- End Google Analytics -->
    <% } %>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <% if (includeBootstrap) { %>
    <!-- build:js scripts/plugins.js -->
<% bsPlugins.forEach(function (plugin) { -%>
    <script src="<%= bsPath + plugin %>.js"></script>
<% }) -%>
    <!-- endbuild -->
    <% } %>
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
