<% if (includeBootstrap) { %>$icon-font-path: '../fonts/';

// bower:scss
// endbower

@import 'variables';
@import 'utilities';
@import 'components';
@import 'header';
@import 'footer';

$orange: #FB8C00;
$pinkish: #F40051;

.container {
  padding-top: 15px;
  max-width: 850px;
  @media screen and (max-width: $screen-xs-max) {
    padding-top: 0;
  }
}

h1 {
  margin-bottom: 15px;
}

p, li {
  font-size: 18px;
}

a {
  color: $orange;
  &:hover {
    text-decoration: none;
    color: darken($orange, 7%);
  }
}

li a {
  color: $pinkish;
  &:visited {
    color: $pinkish;
  }
  &:hover {
    color: darken($pinkish, 7%);
  }
}


<% } else { %>// bower:scss
// endbower

@import 'variables';
@import 'utilities';
@import 'components';
@import 'header';
@import 'footer';

$orange: #FB8C00;
$pinkish: #F40051;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.428571429;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  padding-top: 15px;
  max-width: 850px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
      padding-top: 0;
    }
}

h1 {
  margin-bottom: 15px;
}

p, li {
  font-size: 18px;
}

a {
  color: $orange;
  &:hover {
    text-decoration: none;
    color: darken($orange, 7%);
  }
}

li a {
  color: $pinkish;
  &:visited {
    color: $pinkish;
  }
  &:hover {
    color: darken($pinkish, 7%);
  }
}



<% } %>
